<html>
<head>
  <title>Flippylist</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
  <script src="objectid.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="logo.png">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>

<div id='app'>

  <div v-for="(list, listId) in lists" class="list-wrapper" v-bind:style="'background:'+(list[0] || {}).bg">

  <ul class="todo-list" >
    
    <li class="todo-item" style="border:none !important;padding-top:10px" v-if="list.length>0">
      
      <!--i class="fa fa-bars"></i-->

        <span class="input-wrap" v-on:dblclick="document.getElementById('colorPicker'+listId).click()"><span class="width-machine" aria-hidden="true">{{list[0].title}}</span><input class="input" v-model=" list[0].title" type="text"></span>

        <span class="listId-decent">
          <button class="delete-list" v-on:click="removeList(listId)">X</button>
          
          <input type="color" v-bind:id="'colorPicker'+listId" style="display:none" name="colorPicker" v-model="(list[0] || {}).bg" value="#e66465" />

          <i class="fa fa-link" style="font-size: 12px;cursor:pointer" aria-hidden="true" v-if="list[0].online" v-on:click="toggleOnline(list, false)"></i> 
          <i class="fa fa-link-slash" style="font-size: 12px;color:#CCCCCC;cursor:pointer" aria-hidden="true" v-if="!list[0].online" v-on:click="toggleOnline(list, true)"></i> 
          <span v-if="list[0].online">{{listId}}</span>
        </span>
    </li>

    <li class="todo-item" v-for="(item, i) in list" v-if="i>0" v-key="i" draggable="true" @dragstart="dragStart(i, $event, listId)" @dragover.prevent @dragenter="dragEnter" @dragleave="dragLeave" @dragend="dragEnd" @drop="dragFinish(i, $event, listId)" v-bind:class="{checked:item.done}">
      
      <input type="checkbox" v-model="item.done" v-if="i>0" />
      <i class="fa fa-bars" v-else></i>
      

        <span class="input-wrap"><span class="width-machine" aria-hidden="true">{{item.title}}</span><input class="input" v-model=" item.title" type="text"></span>

      <span class="remove-item" @click="removeItem(item, listId)" v-if="i>0">&times;</span>
    </li>

 
    <li class="todo-item">
      <input type="checkbox" disabled />

      <span class="input-wrap"><span class="width-machine" aria-hidden="true">{{newItemMap[listId]}}</span><input placeholder="..." class="input" v-model="newItemMap[listId]" @keyup.enter="addItem(listId)" type="text"></span> <span v-if="newItemMap[listId]">&crarr;</span>
    </li>

  </ul>

</div>

  <button class="add-list" v-on:click="addList()">+</button>

</div>
<script src="script.js"></script>
</body>
</html>